/*Sekcja 4 - SZYMON PODBIELSKI*/
body {
  background-color: #ae1332;
}

.contacts {
  background-color: #ae1332;
  margin-top: 150px;
}

.contacts-title {
  text-transform: uppercase;
  margin: auto;
  max-width: 740px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: -39px;
}

.contacts-images {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 502px;
  padding-bottom: 80px;
}

.kiwi-photo {
  border-radius: 20px;
  width: 792px;
  height: 502px;
  object-fit: cover;
}

.blueberries-photo {
  border-radius: 20px;
  object-fit: cover;
  height: 502px;
}

.contacts-paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  max-width: 492px;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 80px;
}

.contacts-label {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.contacts-email {
  background-color: inherit;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: none;
  border-radius: 30px 0 0 30px;
  height: 48px;
  width: 220px;
  padding-left: 24px;
}

.contacts-email::placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
}

.contacts-button {
  background-color: #9dc162;
  border: none;
  border-radius: 30px;
  width: 102px;
  color: #ffffff;
  margin-left: -30px;
  cursor: pointer;
}

.contacts-button:hover {
  background-color: #ffffff;
  color: #9dc162;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .contacts-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 648px;
    height: 108px;
    margin-bottom: -29px;
  }

  .contacts-images {
    height: 480px;
    max-width: 704px;
    margin: auto;
  }

  .kiwi-photo {
    width: 344px;
    height: 480px;
  }

  .blueberries-photo {
    width: 344px;
    height: 480px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .contacts-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 335px;
    max-height: 90px;
  }
  .contacts-images {
    width: 335px;
    height: 476px;
    margin: auto;
  }

  .kiwi-photo {
    width: 335px;
    height: 476px;
  }

  .blueberries-photo {
    display: none;
  }

  .contacts-paragraph {
    display: none;
  }

  .contacts-form {
    display: none;
  }
} /*Koniec sekcji 4 - SZYMON PODBIELSKI*/
/* <!-- Sekcja-do-zamawiania-i-pop-up Rafał Szymanek --> */
.modal {
  background-color: #ffffff;
}
.card-order-1 {
  background-color: #f8766b;
}
.card-order-2 {
  background-color: #edd251;
}
.card-order-3 {
  background-color: #9dc262;
}
.pop-up-thank-you {
  background-color: #e03f5e;
}
@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
    height: 902px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 703px;
    height: 853px;
  }
}
@media screen (min-width: 1280px) {
  .modal {
    width: 891px;
    height: 911px;
  }
}
/* <!-- Koniec sekcji-do-zamawiania-i-pop-up Rafał Szymanek --> */
