/*Sekcja 4 - SZYMON PODBIELSKI*/
body {
  background-color: #ae1332;
}


/* SEKCJA2 MIKOLAJ DROZD */

*, *:before, *:after {
  box-sizing: inherit
}

ul {
  padding: 0;
  list-style: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0
}

.second-section {
  padding: 0 20px;
  max-width: 335px;
}

.txt-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 14px;
  width: 335px;
}

.big-txt {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-indent: 6px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px #0000001A;
}

.smaller-txt {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-indent: 6px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-shadow: 0px 4px #0000001A;
  margin-bottom: 44px
}

.steps-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 44px;
  width: 335px;
}

.steps-list { 
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 112px;
  background-color: #ffffff;
  padding: 0 20px;
}

.step-div {
  text-align: center;
  max-width: 136px;
  max-height: 48px;
  border-radius: 200px;
  padding: 15px 42px 15px 42px;
  background-color: #AE1332;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-wrap: nowrap;
  margin-right: 14px;
}

.step-div_2 {
  background-color: #A1C864;
}

.step-div_3 {
  background-color: #F5CE13;
}

.p-step {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: black;
  text-indent: 6px;
  line-height: 18px;
  font-weight: 400;
  text-shadow: 0px 4px #0000001A ;
}

.s2-gif {
  border-radius: 20px;
  width: 335px;
  height: 476px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

/* KONIEC SEKCJI2 MIKOLAJ DROZD */

@media screen and (min-width: 768px) {

  .second-section {
      padding: 0 72px;
      max-width: 624px;
  }

  .txt-div {
      width: 624px;
  }

  .big-txt {
      font-size: 40px;
      line-height: 44px;
  }

  .smaller-txt {
      padding: 0px 57.5px ;
  }

  .steps-ul {
      align-items: center;
      gap: 24px;
      margin-bottom: 80px;
      width: 624px;
  }

  .steps-list { 
      max-width: 375px;
  }

  .s2-gif {
      width: 704px;
  }

  .gif-div {
      display: flex;
      justify-content: center;
  }
}

@media screen and (min-width: 1280px) {

  .second-section {
      padding: 0 32px;
      max-width: 1216px;
  }

  .txt-div {
      padding: 0 296px;
  }

  .steps-ul {
      flex-direction: row;
      align-items: center;
      margin-bottom: 80.5px;
      width: 1215px;
  }

  .steps-list { 
      max-width: 389px;
  }

  .s2-gif {
      width: 860px;
  }

  .gif-div {
      display: flex;
      justify-content: center;
  }

}

.contacts {
  background-color: #ae1332;
  margin-top: 150px;
}

.contacts-title {
  text-transform: uppercase;
  margin: auto;
  max-width: 740px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: -39px;
}

.contacts-images {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 502px;
  padding-bottom: 80px;
}

.kiwi-photo {
  border-radius: 20px;
  width: 792px;
  height: 502px;
  object-fit: cover;
}

.blueberries-photo {
  border-radius: 20px;
  object-fit: cover;
  height: 502px;
}

.contacts-paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  max-width: 492px;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 80px;
}

.contacts-label {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.contacts-email {
  background-color: inherit;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: none;
  border-radius: 30px 0 0 30px;
  height: 48px;
  width: 220px;
  padding-left: 24px;
}

.contacts-email::placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
}

.contacts-email:invalid {
  border-color: red;
}

.contacts-button {
  background-color: #9dc162;
  border: none;
  border-radius: 30px;
  width: 102px;
  color: #ffffff;
  margin-left: -30px;
  cursor: pointer;
}

.contacts-button:hover {
  background-color: #ffffff;
  color: #9dc162;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .contacts-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 648px;
    height: 108px;
    margin-bottom: -29px;
  }

  .contacts-images {
    height: 480px;
    max-width: 704px;
    margin: auto;
  }

  .kiwi-photo {
    width: 344px;
    height: 480px;
  }

  .blueberries-photo {
    width: 344px;
    height: 480px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .contacts-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 335px;
    max-height: 90px;
  }
  .contacts-images {
    width: 335px;
    height: 476px;
    margin: auto;
  }

  .kiwi-photo {
    width: 335px;
    height: 476px;
  }

  .blueberries-photo {
    display: none;
  }

  .contacts-paragraph {
    display: none;
  }

  .contacts-form {
    display: none;
  }
} /*Koniec sekcji 4 - SZYMON PODBIELSKI*/

/* Stopka - SZYMON PODBIELSKI */
footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  height: 377px;
}

.footer-container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}

.footer-img-and-logo {
  padding: 80px 0 20px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.woman-with-bananas {
  border-radius: 100px;
  padding-bottom: 20px;
}

.footer-logo {
  display: flex;
  gap: 8px;
  text-decoration: none;
}

.footer-logo-icon {
  width: 16px;
  height: 16px;
}

.footer-logo-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ae1332;
  margin: 0;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-top: 164px;
}

.footer-nav-link {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}

.footer-socials-and-address {
  padding-top: 80px;
}

.footer-social-media-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-media-icon {
  width: 44px;
  height: 44px;
  padding: 8px;
  border: 1px solid #ae1332;
  border-radius: 10px;
  cursor: pointer;
}

.footer-social-media-icon:hover {
  background-color: #ae13321a;
}

.footer-tel-and-location {
}

.footer-tel {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-transform: uppercase;
  color: #ae1332;
  padding-bottom: 20px;
}

.footer-location {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #ae1332;
  text-decoration: none;
}

/* koniec stopki - SZYMON PODBIELSKI */
